$ball: #FA8320 !default;
$lightBlue: #CCC5B9 !default;
$darkBlue: #031B53 !default;
$lightPhlegm: #FFC34B !default;
$coralish: #DB9200 !default;
$lightishbluegray: #E7E5DF !default;
$shitBrown: #0F2C2C !default;
$background: #ffffff !default;
