$ball: #CC5C00 !default;
$lightBlue: #004A4A !default;
$darkBlue: #031B53 !default;
$lightPhlegm: #FFC34B !default;
$coralish: #DB9200 !default;
$lightishbluegray: #D1DCE0 !default;
$shitBrown: #0F2C2C !default;
$background: #ffffff !default;