* {
  box-sizing: border-box;
}

body {
  margin-top: 0;
}

.main {
  .sidebar {
    display: inline-block;
    width: 12%;
    border-right: 2px solid darkorange;
    float: left;
    height: 100vh;
  }
  .content {
    display: inline-block;
    width: 85%;
    margin-top: 20px;
  }
}