* {
  box-sizing: border-box;
}

body {
  margin-top: 0;
  background: $background;
}

.main {
  overflow: auto;
  .sidebar {
    display: inline-block;
    width: 12%;
    border-right: 2px solid $ball;
    float: left;
    min-height: 100vh;
  }
  .content {
    display: inline-block;
    width: 85%;
    margin-top: 20px;
  }
}