.sidebar__header {

}
  .sidebar__header h2 {
    text-align: center;
  }

.sidebar__content {

}

  .sidebar__navigation {
    padding: 0;
  }

    .sidebar__navigation-element {
      list-style: none;
      text-align: center;
      height: 45px;
      border-bottom: 1px solid $ball;

      a {
        padding: 5px;
        display: block;
        width: 100%;
        height: 100%;
      }
    }