<h1>Keeperball</h1>

<% if !session[:access_token].present? %>
  <%= link_to 'authorize', oauth_authorize_path %>
<% else %>
  <%= link_to 'refresh transactions', yahoo_refresh_transactions_path %>
<% end %>