<% title 'Home page' %>
<h1>Keeperball</h1>

<% if current_user.blank? %>
    <%= link_to 'login', login_path %>
<% elsif current_user.yahoo_access_token.present? %>
    <%= link_to 'refresh transactions', yahoo_refresh_transactions_path %>
<% else %>
    <%= link_to 'authorize', oauth_authorize_path %>
<% end %>