- title 'All Trades'

= render 'trades/headings'

.main-container
  .trades-index-content
    .trades-table
      - @trades.each_with_index do |trade, i|
        .trades-table__trade_unit{ class: ('trades-table__trade_unit--even' if i % 2 == 0) }
          .trades-table__row
            .trades-table__row-cell.trades-table__row-cell--legend Date
            .trades-table__row-cell
              = trade.formatted_completed_date
          - trade.details_for_display.each do |dest_team, players|
            .trades-table__row
              .trades-table__row-cell.trades-table__row-cell--legend To
              .trades-table__row-cell
                %span= dest_team
              .trades-table__row-cell
                %span= players.join(', ')

